.header{
    height: 80px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    .search{
        width: 250px;
        margin-left: 16px;
        margin-top: 25px;
        input{
            width: 100%;
            border-radius: 15px;
        }
    }

    .nav{
        .nav-item{
            margin: 5px;
            padding: 5px 5px;
            font-weight: 500;
            border-radius: 4px;
            transition: color 0.3s;
            transition: background-color 0.3s;

            i{
                font-size: 1.2em;
                color: var(--bs-primary)
            }
            span{
                margin-left: 8px;
            }

            &:hover{
                background-color: rgba($color: var(--code-primary), $alpha: 0.8);
                cursor: pointer;
                i{
                    color: white;
                }
                span{
                    color: white;
                }
            }
        }
    }
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    &:hover{
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }
}

.nav-item{
    margin: 0 10px;
    padding: 5px 11px;
    font-weight: 500;
    border-radius: 4px;
    transition: color 0.3s;
    transition: background-color 0.3s;

    i{
        font-size: 1.2em;
        color: var(--bs-primary)
    }
    span{
        margin-left: 8px;
    }

    &:hover{
        background-color: rgba($color: var(--code-primary), $alpha: 0.8);
        cursor: pointer;
        i{
            color: white;
        }
        span{
            color: white;
        }
    }
}

.box-shadow-custom{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.img-size-50{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.dropdown-menu-custom{
    transform: translate(-360px, 50px) !important;
    .dropdown-item{
        transition: all 0.3s;
        &:hover{
            background-color: var(--bs-primary-200);
            border-radius: 8px;
        }
       
    }
}
#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
    transition: 0.3s;
}
.cart.active{
    right: 0;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-price{
    margin-left: 0.5rem;
}
.buy-btn{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: aquamarine;
    font-weight: 500;
}
.buy-btn:hover{
    background-color: aqua;
}
.close-btn{
    position: absolute;
    top: 1.6rem;
    right: 0.8rem;
    border: none;
    background: none;
}